/* Your CSS goes here */
#main {
  text-align: center;
     width: 100px;
    height: 100px;
        align-items: center;
    justify-content: center;
    margin-top: 60px;

}

#Table1 {
  
}

h1{
  margin-top: 10px;
  margin-bottom: 3px;
}

h2{
  margin: 0.01em;
}

body {
  background-color: #000000;
  /*background-image:url("/images/bg.png");*/
}

#close {
  position: absolute;
  top: 90px;
  right: 0;
  width: 32;
  height: 32;
  overflow: hidden;
  z-index: 1000;
}
#close img {
  width: 100%;
}

#back {
  position: absolute;
  top:135px;
  right:  0;
  width: 32;
  height: 32;
  overflow: hidden;
  z-index: 1000;
}
#back img {
  width: 100%;
}


#footer {
  position : absolute;
  bottom : 0;
  width:100%;
  background-color:black;
  text-align:center;
}

.checkbox {
width: 25px;
height: 25px;

}


.HomeDiv {
    width: 100px;
    height: 100px;
    background-color: #3399FF;
}



fieldset {
    font-family: sans-serif;
    border: 2px solid #f98719;
    background: #000;
    border-radius: 5px;
    padding:20px;
    margin-top: 30px;
}



fieldset legend {
    background: #000;
    color: #f98719;
    padding: 1px 7px ;
    font-size: 20px;
    border-radius: 1px;
    box-shadow: 0 0 0 0px #f98719;
    margin-left: 20px;
}

fieldset label {
    color: #f98719;
    font-size: 20px;
 
}

.btn {
  margin-top: 40px;
  background: #e77e16;
  background-image: -webkit-linear-gradient(top, #e77e16, #c46b18);
  background-image: -moz-linear-gradient(top, #e77e16, #c46b18);
  background-image: -ms-linear-gradient(top, #e77e16, #c46b18);
  background-image: -o-linear-gradient(top, #e77e16, #c46b18);
  background-image: linear-gradient(to bottom, #e77e16, #c46b18);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 21px 6px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #f58e2e;
  background-image: -webkit-linear-gradient(top, #f58e2e, #f59139);
  background-image: -moz-linear-gradient(top, #f58e2e, #f59139);
  background-image: -ms-linear-gradient(top, #f58e2e, #f59139);
  background-image: -o-linear-gradient(top, #f58e2e, #f59139);
  background-image: linear-gradient(to bottom, #f58e2e, #f59139);
  text-decoration: none;
}



::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
::-webkit-input-placeholder { /* Chrome */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}